[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".config/asdf"]
	path = .config/asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/Users/smh/.config/tmux/plugins/tpm"]
	path = /Users/smh/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
